<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Events</title>

    <!-- My css files-->
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" href="/articles">Mongo Scraper</a>


    <button type="button" class="btn btn-warning scrape">Scrape</button>
<!--    <button type="button" class="btn btn-warning browse" href="/browse">Browse</button>-->


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" id="scrape" href="/scrape">Scrape <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
            <li class="nav-item active">
                <a class="nav-link" id="browse" href="/browse">Browse</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="saved" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="clear" href="#">Clear</a>
            </li>
        </ul>
    </div>
</nav>


<div class="jumbotron text-center background-image">
<!--    <div class="overlay"><img src="./images/soccer.png">-->
<!--    </div>-->
<!--    <div class="background-image"></div>-->

<!--    <div id="img-as-background">-->
<!--        <img src="./images/soccer.png"></div>-->
    <div class="caption header"><h1>Mongo Scraper</h1></div>
    <p id="message" class="header">Sport Illustrated</p>
</div>

<div class = "container">
    {{{body}}}
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--<script src="/javascript/app.js"></script>-->
<script src="/javascript/scrape.js"></script>
<!--<script src="/javascript/browse.js"></script>-->
<script src="/javascript/save_article.js"></script>
<script src="/javascript/remove_article.js"></script>
<script src="/javascript/add_note.js"></script>






</body>
</html>
