<!--<div class="container-fluid article-container">-->
<!--    <div data-id="" class="card">-->
<!--        <div class="card-header">-->
<!--            <h3>-->
<!--                <a class="article-link" target="_blank" rel="noopener noreferrer" id="articles"></a>-->
<!--                <a class="btn btn-success save">Save Article</a>-->
<!--            </h3>-->
<!--        </div>-->
<!--        <div class="card-body" id="comment"></div>-->
<!--    </div>-->
<!--</div>-->


<div class="container"><div class="text-center"></div>
    <br>
    <div class="row text-center">
        <div class="col-md-6">
            <ul>
                {{#each article}}
                        {{> articles/article-block}}
                {{/each}}
            </ul></div></div>
    <br><br>
</div>