<div class=row>
    <div class="col-12">
        {{#if articles}}
            {{#each articles}}
                <div class="card w-90">
                    <div class="card-header text-white bg-success">
                        <a href={{link}} target="_blank" class="text-white">
                        <h2>{{title}}</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        <button id="{{_id}}" class="btn btn-success save-btn">Save Article</button>
                        <p id="save-msg"></p>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="card text-white bg-warning w-90 p-1">
                <div class="card-body text-center">
                    No new articles exist.
                </div>
            </div>
        {{/if}}
    </div>
</div>