<div class=row>
    <div class="col-6">
        {{#each articles}}
            <div class="card w-90">
                <div class="card-header text-white bg-success">
                    <a href={{link}} target="_blank" class="text-white">
                        <h2>{{title}}</h2>
                    </a>
                </div>
                <div class="card-body">
                    <button id="{{_id}}" class="btn btn-warning note-btn">Notes</button>
                    <button id="{{_id}}" class="btn btn-warning remove-btn">Remove Article</button>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="col-6">
    <div id="notes"></div>
    </div>
</div>

